<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rojgar">
        <activity
            android:name=".JobSeekerTrainingActivity"
            android:exported="true"
            android:label="@string/title_activity_job_seeker_training"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DocumentCompanyActivity"
            android:exported="true"
            android:label="@string/title_activity_document_company"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SetPasswordCompanyActivity"
            android:exported="true"
            android:label="@string/title_activity_set_password_company"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CodeVerificationCompanyActivity"
            android:exported="true"
            android:label="@string/title_activity_code_verification_company"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpCompanyActivity"
            android:exported="true"
            android:label="@string/title_activity_sign_up_company"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".JobSeekerProfileActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterAsActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".JobSeekerProfileDetailsActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".JobSeekerEducationActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".JobSeekerExperienceActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".JobSeekerDashboardActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".JobSeekerObjectiveActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".JobSeekerPersonalInformationActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".JobSeekerSkillActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SetPasswordActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UpdatePasswordActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VerificationActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>