<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rojgar"
        tools:replace="android:fullBackupContent">
        <activity
            android:name=".view.JobSeekerReviewActivity"
            android:exported="true"
            android:label="@string/title_activity_chat"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ChatActivity"
            android:exported="true"
            android:label="@string/title_activity_chat"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MessageActivity"
            android:exported="true"
            android:label="@string/title_activity_message"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.CompanyProfileActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.CalendarActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.JobApplyActivity"
            android:exported="true"
            android:label="@string/title_activity_job_apply"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.JobSeekerSearchActivity"
            android:exported="true"
            android:label="@string/title_activity_job_apply"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ForgetPasswordActivity"
            android:exported="true"
            android:label="@string/title_activity_forget_password"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.CompanyUploadPost"
            android:exported="true"
            android:label="@string/title_activity_company_dashboard"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.CompanyDashboardActivity"
            android:exported="true"
            android:label="@string/title_activity_company_dashboard"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.CvViewActivity"
            android:exported="true"
            android:label="@string/title_activity_cv_view"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.DocumentCompanyActivity"
            android:exported="true"
            android:label="@string/title_activity_document_company"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.CodeVerificationCompanyActivity"
            android:exported="true"
            android:label="@string/title_activity_code_verification_company"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.SignUpCompanyActivity"
            android:exported="true"
            android:label="@string/title_activity_sign_up_company"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.JobSeekerProfileActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.RegisterAsActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.JobSeekerProfileDetailsActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.JobSeekerDashboardActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.JobSeekerPersonalInformationActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.SetPasswordActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ConfirmPasswordActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.VerificationActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.JobseekerSignUpActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.UpdatePasswordActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.JobSeekerJobPreferenceActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.JobSeekerObjectiveActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.JobSeekerExperienceActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.JobSeekerSkillActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.JobSeekerEducationActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.JobSeekerTrainingActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.JobSeekerPortfolioAccountsActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.JobSeekerViewPost"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.JobSeekerLanguageActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.JobSeekerReferenceActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>