<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >
    <!-- Permissions for ZEGOCLOUD messaging -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rojgar"
        android:usesCleartextTraffic="true"
        tools:replace="android:fullBackupContent"
        tools:targetApi="31" >
        <service
            android:name=".utils.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity
            android:name=".view.HelpAndSupportActivity"
            android:exported="true"
            android:label="@string/title_activity_help_and_support"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.GroupChatActivity"
            android:exported="true"
            android:label="@string/title_activity_group_chat"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.FollowingListActivity"
            android:exported="true"
            android:label="@string/title_activity_chatbot"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ChatbotActivity"
            android:exported="true"
            android:label="@string/title_activity_chatbot"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.AdminVerificationActivity"
            android:exported="true"
            android:label="@string/title_activity_admin_verification"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.SavedJobsActivity"
            android:exported="true"
            android:label="@string/title_activity_company_verification"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.CompanyVerificationActivity"
            android:exported="true"
            android:label="@string/title_activity_company_verification"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.FeedbackActivity"
            android:exported="true"
            android:label="@string/title_activity_feedback"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.AdminDashboardActivity"
            android:exported="true"
            android:label="@string/title_activity_admin_dashboard"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.FollowersListActivity"
            android:exported="true"
            android:label="@string/title_activity_followers_list"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MapActivity"
            android:exported="true"
            android:label="@string/title_activity_map"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- ZEGO configuration -->
        <meta-data
            android:name="im.zego.zim.enable_optimize_quality"
            android:value="false" />
        <meta-data
            android:name="im.zego.zim.enable_notification"
            android:value="true" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCX3_5f2eilotR-J9y7sC-7Q-zCFP98G7U" />

        <activity
            android:name=".view.JobSeekerReviewActivity"
            android:exported="true"
            android:label="@string/title_activity_chat"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ChatActivity"
            android:exported="true"
            android:label="@string/title_activity_chat"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.CreateGroupActivity"
            android:exported="true"
            android:label="@string/title_activity_chat"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MessageActivity"
            android:exported="true"
            android:label="@string/title_activity_message"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.CompanyProfileActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.CalendarActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.JobApplyActivity"
            android:exported="true"
            android:label="@string/title_activity_job_apply"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.JobSeekerSearchActivity"
            android:exported="true"
            android:label="@string/title_activity_job_apply"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ForgetPasswordActivity"
            android:exported="true"
            android:label="@string/title_activity_forget_password"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.CompanyUploadPost"
            android:exported="true"
            android:label="@string/title_activity_company_dashboard"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.CompanyDashboardActivity"
            android:exported="true"
            android:label="@string/title_activity_company_dashboard"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.CvViewActivity"
            android:exported="true"
            android:label="@string/title_activity_cv_view"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.DocumentCompanyActivity"
            android:exported="true"
            android:label="@string/title_activity_document_company"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.CodeVerificationCompanyActivity"
            android:exported="true"
            android:label="@string/title_activity_code_verification_company"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.SignUpCompanyActivity"
            android:exported="true"
            android:label="@string/title_activity_sign_up_company"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.JobSeekerProfileActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.RegisterAsActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.JobSeekerProfileDetailsActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.JobSeekerDashboardActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.JobSeekerPersonalInformationActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.SetPasswordActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ConfirmPasswordActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.VerificationActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.JobseekerSignUpActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.UpdatePasswordActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.JobSeekerJobPreferenceActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.JobSeekerObjectiveActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.JobSeekerExperienceActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.JobSeekerSkillActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.JobSeekerEducationActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.JobSeekerTrainingActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.JobSeekerPortfolioAccountsActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.JobSeekerViewPost"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.JobSeekerLanguageActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.JobSeekerReferenceActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ApplicationActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.CompanyReviewActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.AppliedJobsActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rojgar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>